AseguradoraUI/Service References/ServicePolicy/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51102/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51102/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51102/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
      <xsd:import schemaLocation="http://localhost:51102/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPolicie_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPolicie" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPolicie_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPolicieResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPolicies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPolicies" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllPolicies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPoliciesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllID" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPolicy" />
  </wsdl:message>
  <wsdl:message name="IService1_AddPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RemovePolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePolicy" />
  </wsdl:message>
  <wsdl:message name="IService1_RemovePolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePolicy" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdatePolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePolicyResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPolicie">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPolicie" message="tns:IService1_AddPolicie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPolicieResponse" message="tns:IService1_AddPolicie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPolicies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllPolicies" message="tns:IService1_GetAllPolicies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllPoliciesResponse" message="tns:IService1_GetAllPolicies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllID" message="tns:IService1_GetAllID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllIDResponse" message="tns:IService1_GetAllID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddPolicy" message="tns:IService1_AddPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddPolicyResponse" message="tns:IService1_AddPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RemovePolicy" message="tns:IService1_RemovePolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RemovePolicyResponse" message="tns:IService1_RemovePolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdatePolicy" message="tns:IService1_UpdatePolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdatePolicyResponse" message="tns:IService1_UpdatePolicy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPolicie">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPolicie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPolicies">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllPolicies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllID">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPolicy">
      <soap:operation soapAction="http://tempuri.org/IService1/AddPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePolicy">
      <soap:operation soapAction="http://tempuri.org/IService1/RemovePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePolicy">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdatePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51102/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>