AseguradoraUI/Service References/ServicePolicy/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicePolicy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Aseguradora" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicePolicy_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_GetAllPolicies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPolicies" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_GetAllPolicies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPoliciesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_GetAllID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllID" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_GetAllID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_AddPolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPolicy" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_AddPolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_RemovePolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePolicy" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_RemovePolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePolicyResponse" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_UpdatePolicy_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePolicy" />
  </wsdl:message>
  <wsdl:message name="IServicePolicy_UpdatePolicy_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePolicyResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicePolicy">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePolicy/GetData" message="tns:IServicePolicy_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePolicy/GetDataResponse" message="tns:IServicePolicy_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePolicy/GetDataUsingDataContract" message="tns:IServicePolicy_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePolicy/GetDataUsingDataContractResponse" message="tns:IServicePolicy_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPolicies">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePolicy/GetAllPolicies" message="tns:IServicePolicy_GetAllPolicies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePolicy/GetAllPoliciesResponse" message="tns:IServicePolicy_GetAllPolicies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePolicy/GetAllID" message="tns:IServicePolicy_GetAllID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePolicy/GetAllIDResponse" message="tns:IServicePolicy_GetAllID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePolicy/AddPolicy" message="tns:IServicePolicy_AddPolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePolicy/AddPolicyResponse" message="tns:IServicePolicy_AddPolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePolicy/RemovePolicy" message="tns:IServicePolicy_RemovePolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePolicy/RemovePolicyResponse" message="tns:IServicePolicy_RemovePolicy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePolicy">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicePolicy/UpdatePolicy" message="tns:IServicePolicy_UpdatePolicy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicePolicy/UpdatePolicyResponse" message="tns:IServicePolicy_UpdatePolicy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicePolicy" type="tns:IServicePolicy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServicePolicy/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServicePolicy/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPolicies">
      <soap:operation soapAction="http://tempuri.org/IServicePolicy/GetAllPolicies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllID">
      <soap:operation soapAction="http://tempuri.org/IServicePolicy/GetAllID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPolicy">
      <soap:operation soapAction="http://tempuri.org/IServicePolicy/AddPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePolicy">
      <soap:operation soapAction="http://tempuri.org/IServicePolicy/RemovePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePolicy">
      <soap:operation soapAction="http://tempuri.org/IServicePolicy/UpdatePolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicePolicy">
    <wsdl:port name="BasicHttpBinding_IServicePolicy" binding="tns:BasicHttpBinding_IServicePolicy">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Aseguradora/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>